<div>
    <h1>{{roomName}}</h1>
</div>

<loginbutton></loginbutton>

<div>
    <div xmlns:ng="http://www.w3.org/1999/xhtml">
        <ul>
            <li ng-repeat='(username, stream) in streams'>
                <div>
                    <label>{{username}}</label>
                    <video ng-src="{{stream}}" autoplay></video>
                </div>
            </li>
        </ul>
    </div>


    <div xmlns:ng="http://www.w3.org/1999/xhtml">
        <h1>Connected users</h1>
        <ul>
            <li ng-repeat="user in users">
                <span>{{user}}</span>
            </li>
        </ul>
    </div>


    <div xmlns:ng="http://www.w3.org/1999/xhtml">
        <h1>Chat</h1>
        <ul>
            <li ng-repeat="message in messages">
                <p>{{message.user}} : {{message.message}}</p>
            </li>
        </ul>
    </div>
    <div>
        <form ng-submit="$ctrl.sendMessage(message)">
            <div class="content">
                <input name="message" type="text" ng-model="message" placeholder="Type message"/>
                <input type="submit" name="submit" value="Send" class="button"/>
            </div>
        </form>
    </div>

</div>