<div>
    <h1>{{roomName}}</h1>
</div>

<div>
    <div xmlns:ng="http://www.w3.org/1999/xhtml">
        <ul>
            <li ng-repeat='(username, stream) in streams'>
                <div>
                    <video ng-src="{{stream}}" autoplay></video>
                </div>
            </li>
        </ul>
    </div>


    <div xmlns:ng="http://www.w3.org/1999/xhtml">
        <h1>Connected users</h1>
        <ul>
            <li ng-repeat="user in users">
                <span>{{user}}</span>
            </li>
        </ul>
    </div>

</div>