<div class="loginContainer">

	<div id="wrapper">

		<form ng-submit="$ctrl.login(user)" name="login-form" class="login-form" >


			<div class="header">
				<h1>Login Form</h1>
				<span>Please fill out your login credentials</span>
			</div>

			<div>
				<span>{{error}}</span>
			</div>

			<div class="content">
				<input name="username"  type="text" ng-model="user.username" class="input username" placeholder="Username" />
				<div class="user-icon"></div>
				<input name="password"  type="password" ng-model="user.password"class="input password" placeholder="Password" />
				<div class="pass-icon"></div>
			</div>
			<div class="footer">
				<input type="submit" name="submit" value="Login" class="button" />
			</div>

		</form>

	</div>
	<div class="gradient"></div>

</div>