<div class="main {{chatOpenClass}}">
    <loginbutton ng-show="{{!standalone}}" class="{{chatOpenClass}}"></loginbutton>
    <a ng-show="{{!standalone}}" ui-sref="search" class="button searchLink">Back to search</a>
    <div class="videoArea container{{streamNumber}}" ng-show="{{displayVideo}}">
        <div ng-repeat='(username, stream) in streams' class="videoContainer">
            <div>
                <video ng-src="{{stream}}" autoplay></video>
                <h2 class="videoUsername">{{username}}</h2>
            </div>
        </div>
    </div>
    <button ng-click='$ctrl.toggleChat()'  class="button openChatButton" ng-show="{{displayTextChat}}">
        <img src="/src/images/chat-icon.png"/>
    </button>
</div>


<div class="chat-container {{chatOpenClass}}" ng-show="{{displayTextChat}}">
    <div class="userList">
        <ul class="list">
            <li ng-repeat="user in users">
                <span>{{user}}</span>
            </li>
        </ul>
    </div>
    <div class="messageList">
        <div ng-repeat="message in messages" ng-class="{self: message.self}" class="message">
            <img src="/src/images/chatArrow.svg" class="chatArrow">
            <div>{{message.user}}</div>
            <div>{{message.message}}</div>
        </div>
    </div>
    <form ng-submit="$ctrl.sendMessage(message)" class="messageForm">
        <div class="content">
            <input name="message" class="input" type="text" ng-model="message" placeholder="Type message"/>
            <input type="submit" name="submit" value="Send" class="button"/>
        </div>
    </form>
</div>

